{% extends "tecmabase.html" %}
{% load static %}
{% block titulo %} - Reclutamiento {% endblock %}
{% block user_tools %}
    Bienvenido, {{ username }}.<a href="/logoff">     Logoff</a>
{% endblock %}
{% block breadcrumbs %}
    <a href="reclutadormain.html">Reclutamiento</a>
        >>  
    <a href="detalleproyecto.html?proyecto={{ proyectoID }}">Proyecto</a>
        >> Mi lugar de trabajo
{% endblock %}

{% block content %}
<div class="row" style="height: 450px; margin-top: 3%;">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="text-align: center;"></div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" style="text-align: center; height: 100%">
        <iframe src="https://www.google.com/maps/d/embed?mid=1YChfpH8zTgy1pcbGXf5qHFWqqXs&hl=es" width="100%" height="100%"></iframe>    
    </div>    
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="text-align: center;"></div>   
</div>

{% endblock %}
