<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css"> </head>

<body id="principal" class="w-100 h-100 mx-auto p-5">
<div style="border-style: solid; border-color: black; height: 50%;">
    <p> Div 1</p>
</div>
<div style="border-style: solid; border-color: black; height: 50%;">
    <p> Div 2</p>
</div>

</body>

</html>